<div class="container-fluid main_header mt-xs-3">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-6 col-12 main_header_left">
                    <img
                        src="https://images.unsplash.com/photo-1602992708529-c9fdb12905c9?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGRldmVsb3BlcnxlbnwwfHwwfHx8MA%3D%3D">
                </div>
                <div class="col-md-6 col-12 main_header_right">
                    <h1>I am a <span class="weather_span">Mern Stack Developer</span>,Youtuber And A Freelancer</h1>
                </div>
            </div>
        </div>
    </div>
</div>