<div class="container-fluid main_header mt-xs-3">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-12 d-flex flex-column justify-content-center">
                    <img src="https://webdeasy.de/wp-content/uploads/2020/06/404-pages.jpg">
                    <center class="font">{{err}}</center>
                    <center class="page_margin"><a href="/"><button class="button_404">GO TO HOME PAGE</button></a></center>
                </div>
            </div>
        </div>
    </div>
</div>